<!doctype html>
<html lang="en" ng-app="myapp">
<head>
	<meta charset="UTF-8">
	<title>My Alarm System</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.3.7/cyborg/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>
<!-- putting this at the top to remove the jarring load -->
<script src="http://code.angularjs.org/1.2.10/angular.min.js"></script>
<body ng-controller="MainCtl">
	<div class="jumbotron">

		<button class="btn btn-primary pull-right" ng-click="disarm()">
			<i class="fas fa-lock-open"></i> Disarm
		</button>
		<button class="btn btn-primary pull-right" ng-click="arm()">
			<i class="fas fa-lock"></i> Arm
		</button>

		<button class="btn btn-primary pull-right" ng-click="perimeter()">
			<i class="far fa-square"></i> Perimeter
		</button>
		
		<h3>My Alarm System</h3>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 well">
				<h3>My Zones</h3>
				<ul class="nav nav-pills nav-stacked">
					<li ng-class="{active: zone.zonename == selected.zonename}" ng-repeat="zone in zones">
						<button class="btn btn-primary form-control" ng-click="get($index)">
					<i class="fas fa-door-open"></i>  {{zone.id}}. {{zone.zonename}} ({{zone.state}})
				</button>
					</li>
				</ul>
			</div>
			<div class="col-sm-6" ng-show="selected">
				<h2>{{selected.zonename}}</h2>
				<dl class="dl-horizontal">
					<dt>Id:</dt>
					<dd>{{selected.id}}</dd>
					<dt>State:</dt>
					<dd>{{selected.state}}</dd>
					<dt>Raw-Data:</dt>
					<dd>{{selected.thedata}}</dd>
					<dt>Updated:</dt>
					<dd>{{selected.updatedby}}</dd>
				</dl>

			</div>
			<div class="col-sm-3" ng-show="selected">
				<button class="btn btn-primary form-control" ng-click="update(selected.idx)">
					<i class="fas fa-pencil-alt"></i> Update this zone
				</button>
				<button class="btn btn-danger form-control" ng-click="remove(selected.idx)">
					<i class="fas fa-trash-alt"></i> Remove this zone
				</button>
				<button class="btn btn-primary form-control" ng-click="add()">
					<i class="fas fa-plus"></i> Add new zone
				</button>
			</div>
		</div>
	</div>
<script src="http://code.angularjs.org/1.2.10/angular-resource.min.js"></script>
<script>
	// new dependency: ngResource is included just above
	var myapp = new angular.module("myapp", ["ngResource"]);

	// inject the $resource dependency here
	myapp.controller("MainCtl", ["$scope", "$resource", function($scope, $resource){
		// I designed the backend to play nicely with angularjs so this is all the
		// setup we need to do all of the ususal operations.
		var Zone = $resource("/zones/:id", {id: '@id'}, {
			update: {method: 'PUT'}
		});
		var Arm = $resource("/arm", {}, {
			arm: {method: 'POST'},
			disarm: {method: 'DELETE'}
		});

		$scope.selected = null;

		$scope.list = function(idx){
			// Notice calls to Zone are often given callbacks.
			Zone.query(function(data){
				$scope.zones = data;
				if(idx != undefined) {
					$scope.selected = $scope.zones[idx];
					$scope.selected.idx = idx;
				}
			}, function(error){
				alert(error.data);
			});
		};

		$scope.list();

		setInterval(() => $scope.list(), 15000);

		$scope.get = function(idx){
			// Passing parameters to Zone calls will become arguments if
			// we haven't defined it as part of the path (we did with id)
			Zone.get({id: $scope.zones[idx].id}, function(data){
				$scope.selected = data;
				$scope.selected.idx = idx;
			});
		};

		$scope.add = function() {
			// I was lazy with the user input.
			id = null
			var theId = prompt("Enter the zone id.");
			if(theId == null){
				return;
			}
			var zonename = prompt("Enter the zone name.");
			if(zonename == null){
				return;
			}
			// Creating a blank zone object means you can still $save
			var newZone = new Zone();
			newZone.id = theId;
			newZone.zonename = zonename;
			newZone.$save();

			$scope.list();
		};

		$scope.update = function(idx) {
			var zone = $scope.zones[idx];
			var id = prompt("Enter a new id", zone.id);
			if(id == null) {
				return;
			}
			var zonename = prompt("Enter a new zonename", zone.zonename);
			if(zonename == null) {
				return;
			}
			zone.id = id;
			zone.zonename = zonename;
			// Noticed I never created a new Zone()?
			zone.$update();

			$scope.list(idx);
		};

		$scope.remove = function(idx){
			$scope.zones[idx].$delete();
			$scope.selected = null;
			$scope.list();
		};

		$scope.arm = function() {
			theArm = new Arm()
			theArm.$arm()
		}

		$scope.disarm = function() {
			theArm = new Arm()
			theArm.$disarm()
		}

	}]);
</script>
</body>
</html>
