<!doctype html>
<html lang="en" ng-app="myapp">
<head>
	<meta charset="UTF-8">
	<title>My Alarm System</title>
	<link rel="stylesheet" href="./css/fontawesome/fontawesome-all.css">
	<link rel="stylesheet" href="./css/bootstrap.min.css">
</head>
<!-- putting this at the top to remove the jarring load -->
<script src="http://code.angularjs.org/1.6.10/angular.min.js"></script>
<body ng-controller="MainCtl">
	<div class="container">
		<div class="jumbotron">
			<div class="btn-toolbar">
			<button ng-disabled="disarmed" ng-hide="!authorized" class="btn btn-primary pull-right" ng-click="disarm()">
				<i class="fas fa-lock-open"></i> Disarm
			</button>
			<button ng-disabled="armed" ng-hide="!authorized" class="btn btn-primary pull-right" ng-click="arm()">
				<i class="fas fa-lock"></i> Arm
			</button>
			<button ng-disabled="perimetered" ng-hide="!authorized" class="btn btn-primary pull-right" ng-click="perimeter()">
				<i class="far fa-square"></i> Perimeter
			</button>
			<button ng-hide="authorized" class="btn btn-primary pull-right" ng-click="authorize()">
				<i class="fas fa-sign-in-alt"></i> Enter
			</button>
			<button ng-hide="!authorized" class="btn btn-primary pull-right" ng-click="unauthorize()">
				<i class="fas fa-sign-out-alt"></i> Exit
			</button>
			</div>
			<h3><strong>My Alarm System</strong></h3>
			<dl class="dl-horizontal">
				<dt>System Id:</dt>
				<dd>{{sysinfo.macid}}</dd>
				<dt>Owner:</dt>
				<dd>{{sysinfo.owner}}</dd>
				<dt>State:</dt>
				<dd>{{sysinfo.curstate}}</dd>
				<dt>Wanted State:</dt>
				<dd>{{sysinfo.wantedstate}}</dd>
				<dt>Updated:</dt>
				<dd>{{sysinfo.updatedby}}</dd>
			</dl>

		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 well">
				<h3>My Zones</h3>
				<ul class="nav nav-pills nav-stacked">
					<li ng-class="{active: zone.zonename == selected.zonename}" ng-repeat="zone in zones">
						<button ng-show="!zone.open" class="btn btn-success form-control" ng-click="get($index)">
							<i class="fas fa-door-closed"></i>  {{zone.id}}. {{zone.zonename}} ({{zone.state}})
						</button>
						<button ng-show="zone.open" class="btn btn-danger form-control" ng-click="get($index)">
							<i class="fas fa-door-open"></i>  {{zone.id}}. {{zone.zonename}} ({{zone.state}})
						</button>
					</li>
				</ul>
			</div>
			<div class="col-sm-6" ng-show="selected">
				<h4>{{selected.zonename}}</h4>
				<dl class="dl-horizontal">
					<dt>Id:</dt>
					<dd>{{selected.id}}</dd>
					<dt>State:</dt>
					<dd>{{selected.state}}</dd>
					<dt>Raw-Data:</dt>
					<dd>{{selected.thedata}}</dd>
					<dt>Updated:</dt>
					<dd>{{selected.updatedby}}</dd>
				</dl>

			</div>
			<div class="col-sm-3" ng-show="selected">
				<button ng-hide="!authorized" class="btn btn-primary form-control" ng-click="update(selected.idx)">
					<i class="fas fa-pencil-alt"></i> Update this zone
				</button>
				<button ng-hide="!authorized" class="btn btn-danger form-control" ng-click="remove(selected.idx)">
					<i class="fas fa-trash-alt"></i> Remove this zone
				</button>
				<button ng-hide="!authorized" class="btn btn-primary form-control" ng-click="add()">
					<i class="fas fa-plus"></i> Add new zone
				</button>
			</div>
		</div>
	</div>

	<footer class="footer-copyright blue py-3 text-center text-white">
		<i class="far fa-copyright"></i> 2018 Copyright: Kiet T. Tran, Ph.D.
		<br/>
		Version: {{sysinfo.version}}
	</footer>
	
<script src="http://code.angularjs.org/1.6.10/angular-resource.min.js"></script>
<script>
	
	var myapp = new angular.module("myapp", ["ngResource"]);

	
	myapp.controller("MainCtl", ["$scope", "$resource", function($scope, $resource){
		
		var Zone = $resource("/zones/:id", {id: '@id'}, {
			update: {method: 'PUT'}
		});

		var Command = $resource("/cmd", {}, {
			cmd: {method: 'POST'},
		});

		var SysInfo = $resource("/sysinfo", {}, {})

		$scope.getsysinfo = function() {
			SysInfo.query(function(data){
				$scope.sysinfos = data;
				$scope.sysinfo = $scope.sysinfos[0]

				if ($scope.sysinfo.wantedstate == "DISARMED") {
					$scope.disarmed = true;
				} else {
					$scope.disarmed = false;
				}

				if ($scope.sysinfo.wantedstate == "ARMED" ||
					$scope.sysinfo.wantedstate == "PERIMETERED") {
					$scope.armed = true;
					$scope.perimetered = true;
				} else {
					$scope.armed = false;
					$scope.perimetered = false;
				}
			}, function(error){
				alert(error.data);
			});
		};

		$scope.list = function(idx){
			
			Zone.query(function(data){
				$scope.zones = data;

				for (i = 0; i < $scope.zones.length; i++) {
					if ($scope.zones[i].state == "CLOSED" ||
						$scope.zones[i].state == "SLEEPING") {
						$scope.zones[i].open = false
					} else {
						$scope.zones[i].open = true
					}
				}

				console.log($scope.zones)
				
				if(idx != undefined) {
					$scope.selected = $scope.zones[idx];
					$scope.selected.idx = idx;
				}
			}, function(error){
				alert(error.data);
			});
		};

		$scope.selected = null;
		$scope.passcode = null;
		$scope.list();
		$scope.getsysinfo();

		setInterval(() => $scope.list(), 5000);
		setInterval(() => $scope.getsysinfo(), 5000);

		$scope.get = function(idx){
			Zone.get({id: $scope.zones[idx].id}, function(data){
				$scope.selected = data;
				$scope.selected.idx = idx;
			});
		};

		$scope.add = function() {
			if ($scope.passcode == null) {
				alert("Enter passcode first!");
				return;
			}

			id = null
			var theId = prompt("Enter the zone id.");
			if(theId == null){
				return;
			}
			var zonename = prompt("Enter the zone name.");
			if(zonename == null){
				return;
			}
			
			var newZone = new Zone();
			newZone.id = theId;
			newZone.zonename = zonename;
			newZone.$save();

			$scope.list();
		};

		$scope.update = function(idx) {
			if ($scope.passcode == null) {
				alert("Enter passcode first!");
				return;
			}

			var zone = $scope.zones[idx];
			var id = prompt("Enter a new id", zone.id);
			if(id == null) {
				return;
			}
			var zonename = prompt("Enter a new zonename", zone.zonename);
			if(zonename == null) {
				return;
			}
			zone.id = id;
			zone.zonename = zonename;
			
			zone.$update();

			$scope.list(idx);
		};

		$scope.remove = function(idx){
			if ($scope.passcode == null) {
				alert("Enter passcode first!");
				return;
			}

			$scope.zones[idx].$delete();
			$scope.selected = null;
			$scope.list();
		};

		$scope.arm = function() {
			cmd = new Command();
			cmd.passcode = enterPasscode();
			cmd.exec = "ARM"

			cmd.$cmd().then(function (response) {
				process(response);
			});
			$scope.list();
			$scope.getsysinfo();
		}

		$scope.disarm = function() {
			cmd = new Command();
			cmd.passcode = enterPasscode();
			cmd.exec = "DISARM"

			cmd.$cmd().then(function (response) {
				process(response);
			});
			$scope.list();
			$scope.getsysinfo();		
		}

		$scope.perimeter = function() {
			cmd = new Command();
			cmd.passcode = enterPasscode();
			cmd.exec = "PERIMETER"
			cmd.result = ""

			retval = cmd.$cmd().then(function (response) {
				process(response);
			});
			
			$scope.list();
			$scope.getsysinfo();
		}

		$scope.unauthorize = function() {
			$scope.passcode = null;
			$scope.authorized = false;
		}

		$scope.authorize = function() {
			cmd = new Command();
			cmd.passcode = enterPasscode();
			cmd.exec = "AUTHORIZE"
			cmd.result = ""

			retval = cmd.$cmd().then(function (response) {
				process(response);
			});
		}

		function enterPasscode() {
			if ($scope.passcode == null) {
				$scope.passcode = prompt("Enter passcode");
			}
			return $scope.passcode;
		}

		function process(response) {
			if (response.result == "UNAUTH") {
				console.log ("Unauthorized!");
				alert("Unauthorized!");
				$scope.passcode = null;
				$scope.authorized = false;
			} else if (response.result == "AUTHORIZED") {
				$scope.authorized = true;
			}
		}

	}]);
</script>
</body>
</html>
